<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹窗</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/message.css">
</head>
<style>.table-blue .layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1E9FFF
}</style>
<body>
<script src="../../layui/layui.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<div class="popupNrdiv" id="popupWindow_updatePassword">
    <!-- 查询条件 -->
    <form action="" method="post" id="queryForm" name="queryForm" class="layui-form layui-form-pane1">

        <div style="margin: 18px auto">
            <div class="layui-input-inline" style="margin: auto 28px">当前登录用户：{{ username }}</div>
        </div>

        <div style="margin: 18px auto">
            <label class="layui-form-label" style="width: 15%">原密码</label>
            <div class="layui-input-inline" style="width: 71%">
                <input type="text" name="oldPassword" lay-verify="required" placeholder="请输入原密码"
                       autocomplete="off" class="layui-input" v-model="oldPassword">
            </div>
        </div>

        <div style="margin: 18px auto">
            <label class="layui-form-label" style="width: 15%">新密码</label>
            <div class="layui-input-inline" style="width: 71%">
                <input type="text" name="newPassword" lay-verify="required" placeholder="请输入新密码"
                       autocomplete="off" class="layui-input" v-model="newPassword">
            </div>
        </div>

        <div style="margin: 18px auto">
            <label class="layui-form-label" style="width: 18%">确认密码</label>
            <div class="layui-input-inline" style="width: 68%">
                <input type="text" name="confirmPassword" lay-verify="required" placeholder="请确认新密码"
                       autocomplete="off" class="layui-input" v-model="confirmPassword">
            </div>
        </div>

        <div style="margin: 18px auto 0 auto">
            <button @click="notarize" onclick="notarize()" type="button" class="layui-btn" style="width: 86%;
            height: 38px; padding: 0; margin: 0 0 0 30px; font-size: 14px; background-color: #009688">修改
            </button>
        </div>
    </form>
</div>

<!--由于vue和layui冲突无法双向绑定，故在此手动获取表单数据-->
<script>
    layui.use(['form'], function () {
        layui.form.on('select(form_sex)', function (data) {
            popupWindow_updatePassword.sex = data.value
        })
    })
</script>

<script>
    //从父页面获取信息
    function child(id, username, sex, password, email, phone) {
        layui.use(['table', 'form', 'layer'], function () {
            popupWindow_updatePassword.id = id
            popupWindow_updatePassword.username = username
            popupWindow_updatePassword.sex = sex
            popupWindow_updatePassword.password = password
            popupWindow_updatePassword.email = email
            popupWindow_updatePassword.phone = phone
            if(sex === '男'){
                layui.jquery('#sex').append(new Option('男', '男'));
                layui.jquery('#sex').append(new Option('女', '女'));
            }
            else{
                layui.jquery('#sex').append(new Option('女', '女'));
                layui.jquery('#sex').append(new Option('男', '男'));
            }
            // 重新渲染下拉框
            layui.form.render('select');
        })
    }

    //关闭弹出层
    function exitWindow() {
        var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
        window.parent.reload();//调用父页面方法
        parent.layer.close(index);
    }
</script>

<script src="../../js/message.min.js"></script>
<script>
    var popupWindow_updatePassword = new Vue({
        el: '#popupWindow_updatePassword',
        data: {
            id: '',
            username: '',
            password: '',
            oldPassword: '',
            newPassword: '',
            confirmPassword: '',
            email: '',
            phone: '',
            sex: ''
        },
        updated: function () {
            layui.use('form', function () {
                layui.form.render('select');
            })
        },
        methods: {
            notarize() {
                if (!this.oldPassword) {
                    $.message({message: "原密码不能为空！", type: 'warning'})
                    return
                } else if (!this.newPassword) {
                    $.message({message: "新密码不能为空！", type: 'warning'})
                    return
                } else if (!this.confirmPassword) {
                    $.message({message: "确认密码不能为空！", type: 'warning'})
                    return
                } else if (this.oldPassword !== this.password) {
                    $.message({message: "原密码不正确！", type: 'warning'})
                    return
                } else if (this.newPassword !== this.confirmPassword) {
                    $.message({message: "两次输入的新密码不一致！", type: 'warning'})
                    return
                }
                else {
                    this.password = this.newPassword
                }
                //发送请求给后台
                fetch("/user/update", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                        //json是一种数据交互格式，比如{“name”:"wrc"}就是一个json对象
                        //比如{“name”:"wrc"},{“name”:"zhy"}就是一个json数组
                    },
                    body: JSON.stringify({
                        id: this.id, username: this.username, sex: this.sex, email: this.email,
                        phone: this.phone, password: this.password
                    })
                    //请求发送的数据放在body里,JSON.stringfy可以把js对象转成所需json
                })
                    .then(res => res.json())
                    .then(res => {  //res就是后台返回的结果
                        console.log(res)
                        if (res.code === '200') {  //判断请求是否成功
                            $.message({message: "保存成功！", type: 'success'})
                            setTimeout(() => {
                                window.parent.location.reload()
                                exitWindow()
                            }, 1000)
                        } else {
                            $.message({message: "编辑保存失败，请重试！", type: 'error'})
                        }
                    })
            }

        }
    })
</script>

</body>
</html>