<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" href="css/Images/icon.png">
    <script src="js/vue.min.js"></script>
    <script src="js/resources.js"></script>
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
    <style>
        body {
            background: url("css/Images/background.png") no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<div id="login">

    <div style="background-color: #ffffff; width: 350px; height: 310px; margin: 280px auto; text-align: center;
    border: 1px solid #dedede; padding: 25px 25px; border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, .2);">

        <div style="margin: 20px auto; text-align: center; color: #0c63e4"><h1 style="font-size:22px;">重庆邮电大学运维综合管理系统</h1>
        </div>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin:17px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/username.png" style="width: 13px; height: 13px;">
                </label>
                <div class="layui-input-inline" style="width: 265px; height: 35px; font-size: 12px;">
                    <input type="text" name="username" lay-verify="required" placeholder="用户名" autocomplete="off"
                           class="layui-input" v-model="username"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>
            </div>
        </form>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin: 17px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/password.png" style="width: 13px; height: 13px;">
                </label>
                <div class="layui-input-inline" style="width: 265px; height: 35px; font-size: 12px;">
                    <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off"
                           class="layui-input" v-model="password"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>
            </div>
        </form>

        <form class="layui-form layui-form-pane" action="#" id="testCode">
            <div class="layui-form-item" style="height: 37px; width: 220px; margin: 8px 24px; text-align: center;">
                <div class="layui-row">
                    <div class="layui-col-md10">
                        <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                        border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                            <img src="css/Images/password.png" style="width: 13px; height: 13px;">
                        </label>
                        <div class="layui-input-inline" style="width: 139px; height: 35px; font-size: 12px;">
                            <input type="text" name="verification" lay-verify="required" placeholder="验证码"
                                   autocomplete="off"
                                   class="layui-input" v-model="verification"
                                   style="height: 35px; padding: 8px; border-color: #E1E1E1;">
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div style="border: 1px solid #dedede; border-radius:0 2px 2px 0; width:114px; height:33px">
                            <canvas id="canvas" width="114px" height="33px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div style="position: relative; top: 10px; text-align: center">
            <button id="bt_login" @click="login" onclick="login()" type="submit" class="layui-btn" style="width:300px;
            height:35px; padding: 4px 4px; font-size: 15px; background-color: #0c63e4;line-height: 10px;">登录
            </button>
        </div>

        <div style="color: #6c757d; text-align: right; position: relative; top: 20px; right: 25px;
         font-size: 15px"><a href="register.html">前往注册</a></div>

    </div>
</div>

<script>
    var Login = new Vue({
        el: '#login',
        data: {
            username: '',
            password: '',
            verification: '',
            verificationNum: ''
        },
        methods: {
            login() {
                console.log(this.username)
                console.log(this.password)
                if (!this.username) {
                    $.message({message: "用户名不能为空！", type: 'warning'})
                    return
                }
                else if (!this.password) {
                    $.message({message: "密码不能为空！", type: 'warning'})
                    return
                }
                else if (!this.verification) {
                    $.message({message: "验证码不能为空！", type: 'warning'})
                    return
                }
                else if (this.verification.toLowerCase() !== this.verificationNum.toLowerCase()) {
                    $.message({message: "验证码错误！", type: 'error'})
                    return
                }
                //发送请求给后台
                fetch("user/login", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username: this.username, password: this.password})
                })
                    .then(res => res.json())
                    .then(res => {
                        if (res.code === '200') {  //判断请求是否成功
                            $.message({message: "登录成功！", type: 'success'})
                            localStorage.setItem("user", JSON.stringify(res.data)) //利用浏览器全局储存用户信息
                            setTimeout(() => {
                                location.href = '/index.html'
                            }, 1000)

                        } else {
                            $.message({message: "账号或密码不正确！", type: 'error'})
                        }
                    })
            },
            keyDown (e) {
                // 回车则执行登录方法 enter键的ASCII是13
                if (e.keyCode === 13) {
                    this.login() // 需要执行的方法方法
                }
            }
        },
        // 绑定监听事件
        mounted () {
            window.addEventListener('keydown', this.keyDown)
        },
        // 销毁事件
        destroyed () {
            window.removeEventListener('keydown', this.keyDown, false)
        }
    })
</script>

<script>
    $(function () {
        var show_num = [];
        draw(show_num);
        $("#canvas").on('click', function () {
            draw(show_num);
            Login.verificationNum = show_num.join("");
        })
        Login.verificationNum = show_num.join("");
    })

    function draw(show_num) { //显示区域内容信息
        var canvas_width = $('#canvas').width();
        var canvas_height = $('#canvas').height();
        var canvas = document.getElementById("canvas"); //获取到canvas的对象
        var context = canvas.getContext("2d"); //获取到canvas画图的环境
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode =
            "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length; //获取到数组的长度

        for (var i = 0; i <= 3; i++) {
            var j = Math.floor(Math.random() * aLength); //获取到随机的索引值
            var deg = Math.random() * 30 * Math.PI / 180; //产生0~30之间的随机弧度
            var txt = aCode[j]; //得到随机的一个内容
            show_num[i] = txt.toLowerCase();
            var x = 10 + i * 20; //文字在canvas上的x坐标
            var y = 20 + Math.random() * 8; //文字在canvas上的y坐标
            context.font = "bold 23px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) { //验证码上显示线条
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }
        for (var i = 0; i <= 30; i++) { //验证码上显示小点
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    function randomColor() { //得到随机的颜色值
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
</script>


</body>
</html>