<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="shortcut icon" href="css/Images/icon.png">
    <script src="js/vue.min.js"></script>
    <script src="js/resources.js"></script>
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
    <style>
        body {
            background: url("css/Images/background.png") no-repeat;
            background-size: 100%;
        }
        .layui-input, .layui-select, .layui-textarea {
            height: 35px;
            border-color: #E1E1E1;
        }
    </style>
</head>
<script src="layui/layui.js"></script>
<script src="js/vue.min.js"></script>
<body>
<div id="app">

    <div style="background-color: #ffffff; width: 350px; height: 375px; margin:230px auto; text-align: center;
    border: 1px solid #dedede; padding: 25px 25px; border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, .2);">

        <div style="margin: 5px auto; text-align: center; color: #00843D"><h1 style="font-size:23px;">注册</h1>
        </div>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin:17px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/username.png" style="width: 13px; height: 13px;">
                </label>
                <div class="layui-input-inline" style="width: 190px; height: 35px; font-size: 12px;">
                    <input type="text" name="username" lay-verify="required" placeholder="用户名" autocomplete="off"
                           class="layui-input" v-model="username"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>

                <div class="layui-input-inline" style="width: 65px; height: 35px; font-size: 12px">
                    <select name="sex" lay-filter="sex">
                        <option value="" selected="selected">性别</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
        </form>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin: 17px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/phone.png" style="width: 11px; height: 18px;">
                </label>
                <div class="layui-input-inline" style="width: 265px; height: 35px; font-size: 12px;">
                    <input type=text name="phone" lay-verify="required" placeholder="手机号" autocomplete="off"
                           class="layui-input" v-model="phone"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>
            </div>
        </form>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin: 17px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/email.png" style="width: 16px; height: 12px;">
                </label>
                <div class="layui-input-inline" style="width: 265px; height: 35px; font-size: 12px;">
                    <input type="text" name="email" lay-verify="required" placeholder="邮箱" autocomplete="off"
                           class="layui-input" v-model="email"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>
            </div>
        </form>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin: 17px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/password.png" style="width: 13px; height: 13px;">
                </label>
                <div class="layui-input-inline" style="width: 265px; height: 35px; font-size: 12px;">
                    <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off"
                           class="layui-input" v-model="password"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>
            </div>
        </form>

        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="height: 37px; width: 309px; margin: 8px 24px; text-align: center;">
                <label class="layui-form-label" style="height: 35px; width: 35px; padding: 1px 1px; line-height: 30px;
                border-width: 1px; background-color: #E8E8E8; border-color: #E1E1E1">
                    <img src="css/Images/password.png" style="width: 13px; height: 13px;">
                </label>
                <div class="layui-input-inline" style="width: 265px; height: 35px; font-size: 12px;">
                    <input type="password" name="confirmPassword" lay-verify="required" placeholder="确认密码" autocomplete="off"
                           class="layui-input" v-model="confirmPassword"
                           style="height: 35px; padding: 8px; border-color: #E1E1E1">
                </div>
            </div>
        </form>

        <div style="position: relative; top: 10px; text-align: center">
            <button @click="Register" onclick="Register()" type="button" class="layui-btn" style="width:300px;
            height:35px; padding: 4px 4px; font-size: 15px; background-color: #007A33;line-height: 10px;">注册
            </button>
        </div>

    </div>
</div>

<script>
    layui.use(['form'], function () {
        layui.form.on('select(sex)', function (data) {
            vue_register.sex = data.value
        })
    })
</script>

<script>
    var vue_register = new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
            confirmPassword: '',
            email: '',
            phone: '',
            sex: ''
        },
        updated: function () {
            layui.use('form', function () {
                layui.form.render('select');
            })
        },
        methods: {
            Register() {
                if (!this.username) {
                    $.message({message: "用户名不能为空！", type: 'warning'})
                    return
                } else if (!this.sex) {
                    $.message({message: "性别不能为空！", type: 'warning'})
                    return
                } else if (!this.phone) {
                    $.message({message: "手机号不能为空！", type: 'warning'})
                    return
                } else if (!this.email) {
                    $.message({message: "邮箱不能为空！", type: 'warning'})
                    return
                } else if (!this.password) {
                    $.message({message: "密码不能为空！", type: 'warning'})
                    return
                }
                //发送请求给后台
                fetch("user/register", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                        //json是一种数据交互格式，比如{“name”:"wrc"}就是一个json对象
                        //比如{“name”:"wrc"},{“name”:"zhy"}就是一个json数组
                    },
                    body: JSON.stringify({
                        username: this.username, sex: this.sex,
                        email: this.email, phone: this.phone, password: this.password
                    })
                    //请求发送的数据放在body里,JSON.stringfy可以把js对象转成所需json
                })
                    .then(res => res.json())
                    .then(res => {  //res就是后台返回的结果
                        console.log(res)
                        if (res.code === '200') {  //判断请求是否成功
                            $.message({message: "注册成功！", type: 'success'})
                            setTimeout(() => {
                                location.href = '/login.html'
                            }, 1000)

                        } else {
                            $.message({message: "注册失败，请重试！", type: 'error'})
                        }
                    })
            },
            keyDown (e) {
                // 回车则执行登录方法 enter键的ASCII是13
                if (e.keyCode === 13) {
                    this.Register() // 需要执行的方法方法
                }
            }
        },
        // 绑定监听事件
        mounted () {
            window.addEventListener('keydown', this.keyDown)
        },
        // 销毁事件
        destroyed () {
            window.removeEventListener('keydown', this.keyDown, false)
        }
    })
</script>


</body>
</html>