<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruocheng.springboot.Mapper.CommonMapper">

    <select id="selectCommon" resultType="com.ruocheng.springboot.entity.Common">
        select * from common
        <where>
            <if test="sqlType != null and sqlType != ''">
                sqlType like concat('%', #{ sqlType }, '%')
            </if>
            <if test="distract != null and distract != ''">
                and distract like concat('%', #{ distract }, '%')
            </if>
            <if test="alias != null and alias != ''">
                and alias like concat('%', #{ alias }, '%')
            </if>
        </where>
    </select>

</mapper>