<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruocheng.springboot.Mapper.TableMapper">

    <select id="select" resultType="HashMap" statementType="STATEMENT">
        ${sql}
    </select>

    <insert id="insert" statementType="STATEMENT">
        ${sql}
    </insert>

    <update id="update" statementType="STATEMENT">
        ${sql}
    </update>

    <delete id="delete" statementType="STATEMENT">
        ${sql}
    </delete>

</mapper>